@model IEnumerable<AgrInov.Models.PropriedadeAgricula>

@{
    ViewData["Title"] = "Index";
}

<h2>Propriedade Agricula</h2>

<a asp-action="Create" class="btn btn-dark">Cadastrar Propriedade Agricula</a>


<p>Hello from our View Template!</p>