@model AgrInov.Models.Cultura

@{
    ViewData["Title"] = "Edit";
}

<style>
    .col-md-4 {
        justify-content: center;
        align-items: center;
        display: inline-block;
        background-color: #D9D9D9;
        width: 1000px;
        height: 700px;
        border-radius: 55px;
        margin-top: 50px;
    }

    .form-group {
        display: inline-block;
        margin-top: 50px;
        margin-left: 250px;
        align-content: center;
    }

    .form-control {
        width: 500px;
    }

    .btn {
        margin-top: 20px;
        text-align: center;
        width: 100px;
        margin-left: 250px;
        width: 500px;
    }
</style>

<h1>Atualizar Cultura</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="botao">
                <input type="submit" value="ATUALIZAR" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
