@model IEnumerable<AgrInov.Models.Cultura>

@{
    ViewData["Title"] = "Index";
}
<style>
    .nome{
        background-color: #898989;
        text-align:center;
        width: 630px;
        height:45px;
        color: white;
        padding-top: 10px;
    }

    .btn{
        margin: 15px;
        border-radius: 8px;
    }
</style>

<h1>Gerenciar Culturas</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">CADASTRAR CULTURA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <p class="nome">@Html.DisplayFor(modelItem => item.Nome)</p>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">ATUALIZAR</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">REMOVER</a>
            </td>
        </tr>
}
    </tbody>
</table>
