@model AgrInov.Models.Plantacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plantacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimPrevista" class="control-label"></label>
                <input asp-for="DataFimPrevista" class="form-control" />
                <span asp-validation-for="DataFimPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaUtilizada" class="control-label"></label>
                <input asp-for="AreaUtilizada" class="form-control" />
                <span asp-validation-for="AreaUtilizada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producao" class="control-label"></label>
                <input asp-for="Producao" class="form-control" />
                <span asp-validation-for="Producao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saude" class="control-label"></label>
                <input asp-for="Saude" class="form-control" />
                <span asp-validation-for="Saude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
