@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="agr-green display-4 mb-4">
        <i class="fas fa-leaf me-3"></i>AgrInov
    </h1>
    <h2 class="display-6 mb-4">Bem-vindo</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead mb-4">Disponibilizamos uma plataforma que permite aos agricultores monitorarem a variabilidade espacial e temporal, permitindo a aplicação de insumos como fertilizantes, água, sementes de forma a reduzir custos de produção.</p>
            <p class="mb-4">Auxiliamos na rotação de culturas com o plantio de mais de um tipo de cultura numa mesma área em rotação, com o intuito de controlar pragas, doenças e plantas daninhas e diminuir o empobrecimento nutricional do solo.</p>
        </div>
    </div>
</div>