ConnectionString="DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=agrinovimg;AccountKey=hlkc1SbS8KOHlTVFSNccIpaB6k43TlmP+PN6nlUKB8JgfsLzSXBqO2NOntgH0yuHMqC5kfrNVMQZ+AStotrfeA==;BlobEndpoint=https://agrinovimg.blob.core.windows.net/;FileEndpoint=https://agrinovimg.file.core.windows.net/;QueueEndpoint=https://agrinovimg.queue.core.windows.net/;TableEndpoint=https://agrinovimg.table.core.windows.net/"
ContainerName=agrinovimg
baseUrl=https://agrinovimg.blob.core.windows.net