@model AgrInov.Models.AreaDePlantio

@{
    ViewData["Title"] = "Create";
}

<h1 class="fs-3 mb-5">Área de Plantio → Cadastrar Área de Plantio</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimPrevista" class="control-label"></label>
                <input asp-for="DataFimPrevista" class="form-control" />
                <span asp-validation-for="DataFimPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaUtilizada" class="control-label"></label>
                <input asp-for="AreaUtilizada" class="form-control" />
                <span asp-validation-for="AreaUtilizada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
