@model AgrInov.Models.AreaDePlantio

@{
    ViewData["Title"] = "Create";
}

<h1 class="fs-3 mb-5">Áreas de Plantio → Cadastrar</h1>

<div class="mb-5">
    <div class="agr-card p-5">
        <form asp-action="Create" class="d-flex flex-column gap-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFimPrevista" class="control-label"></label>
                <input asp-for="DataFimPrevista" class="form-control" />
                <span asp-validation-for="DataFimPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaUtilizada" class="control-label"></label>
                <input asp-for="AreaUtilizada" class="form-control" />
                <span asp-validation-for="AreaUtilizada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-dark w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info text-white">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
